extends page-layout
include mixins/analyzer-info
include mixins/conditional-access-code-fix-remark

block content

    h1.page-header BH1007 - HttpRequestBrowser
    .row
        .col-sm-12
            p.lead
                | Access to <code>Browser</code> property of <code>System.Web.HttpBrowserCapabilities</code> or <code>System.Web.HttpBrowserCapabilitiesBase</code>

            +analyzer-info('BH1007', 'HttpRequestBrowserAnalyzer')


    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p A code fix will be presented. The access will be replaced with <code>BrowserHelper.GetBrowser()</code> expression.

            p Before:
            pre
                | var browserName = Request.Browser.Browser;

            p After:
            pre
                | using CMS.Helpers;
                | ...
                | var browserName = BrowserHelper.GetBrowser();

            +conditional-access-code-fix-remark()

