extends page-layout
include mixins/analyzer-info
include mixins/conditional-access-code-fix-remark

block content

    h1.page-header BH1013 - ClientScriptMethods
    .row
        .col-sm-12
            p.lead
                | Access to one of <code>RegisterArrayDeclaration</code>, <code>RegisterClientScriptBlock</code>, <code>RegisterClientScriptInclude</code>, or <code>RegisterStartupScript</code> methods of <code>System.Web.UI.ClientScriptManager</code>

            +analyzer-info('BH1013', 'ClientScriptMethodsAnalyzer')


    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p If the enclosing class derives from any descendant of <code>System.Web.UI.Control</code>, a code fix will be presented. It will replace the direct registration calls to <code>ClientScript</code> instance, with equivalent calls to <code>ScriptHelper</code>.

            p Before:
            pre
                | // the class must inherit UIControl in order for code fixes to work
                | public class ClientScriptMethods : System.Web.UI.Control
                | {
                |     public void SampleMethod()
                |     {
                |         var clientScript = new System.Web.UI.Page().ClientScript;
                |         clientScript.RegisterArrayDeclaration("arrayName", "arrayValue");
                |         clientScript.RegisterArrayDeclaration("arrayName", "arrayValue");
                |         clientScript.RegisterClientScriptBlock(typeof(object), "key", "script");
                |         clientScript.RegisterClientScriptInclude(typeof(object), "key", "url");
                |         clientScript.RegisterStartupScript(typeof(object), "key", "script");
                |     }
                | }

            p After:
            pre
                | using CMS.Base.Web.UI;
                |
                | // the class must inherit UIControl in order for code fixes to work
                | public class ClientScriptMethods : System.Web.UI.Control
                | {
                |     public void SampleMethod()
                |     {
                |         var clientScript = new System.Web.UI.Page().ClientScript;
                |         ScriptHelper.RegisterArrayDeclaration(this, "arrayName", "arrayValue");
                |         ScriptHelper.RegisterArrayDeclaration(this, "arrayName", "arrayValue");
                |         ScriptHelper.RegisterClientScriptBlock(this, typeof(object), "key", "script");
                |         ScriptHelper.RegisterClientScriptInclude(this, typeof(object), "key", "url");
                |         ScriptHelper.RegisterStartupScript(this, typeof(object), "key", "script");
                |     }
                | }

            +conditional-access-code-fix-remark()
