extends page-layout
include mixins/analyzer-info
include mixins/conditional-access-code-fix-remark

block content

    h1.page-header BH1005 - HttpRequestUserHostAddress
    .row
        .col-sm-12
            p.lead
                | Access to <code>UserHostAddress</code> property of <code>System.Web.HttpRequest</code> or <code>System.Web.HttpRequestBase</code>

            +analyzer-info('BH1005', 'HttpRequestUserHostAddressAnalyzer')


    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p A code fix will be presented. The access will be replaced with <code>RequestContext.UserHostAddress</code> expression.

            p Before:
            pre
                | var address = Request.UserHostAddress;

            p After:
            pre
                | using CMS.Helpers;
                | ...
                | var address = RequestContext.UserHostAddress;

            +conditional-access-code-fix-remark()

