extends page-layout
include mixins/analyzer-info
include mixins/conditional-access-code-fix-remark

block content

    h1.page-header BH1000 - HttpSessionSessionId
    .row
        .col-sm-12
            p.lead
                | Access to <code>SessionID</code> property of <code>System.Web.SessionState.HttpSessionState</code> or <code>System.Web.HttpSessionStateBase</code>

            +analyzer-info('BH1000', 'HttpSessionSessionIdAnalyzer')


    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p A code fix will be presented. The invocation will be replaced with <code>SessionHelper.GetSessionID()</code> method.

            p Before:
            pre
                | var session = System.Web.HttpContext.Current.Session;
                | var sessionId = session.SessionID;

            p After:
            pre
                | using CMS.Helpers;
                | ...
                | var session = System.Web.HttpContext.Current.Session;
                | var sessionId = SessionHelper.GetSessionID();

            +conditional-access-code-fix-remark()

