extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH1002 - HttpSessionElementAccessGet
    .row
        .col-sm-12
            p.lead
                | Write element access to <code>Session</code> collection of <code>System.Web.SessionState.HttpSessionState</code> or <code>System.Web.HttpSessionStateBase</code>

            +analyzer-info('BH1002', 'HttpSessionElementAccessAnalyzer')


    .row
        .col-sm-12
            h2 Motivation
            p TODO

    .row
        .col-sm-12
            h2 Code Fixes
            p TODO
