extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH1008 - HttpResponseRedirect
    .row
        .col-sm-12
            p.lead
                | Access to <code>Redirect</code> method of <code>System.Web.HttpResponse</code> or <code>System.Web.HttpResponseBase</code>

            +analyzer-info('BH1008', 'HttpResponseRedirectAnalyzer')


    .row
        .col-sm-12
            h2 Motivation
            p TODO

    .row
        .col-sm-12
            h2 Code Fixes
            p TODO
