extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH1012 - FormsAuthenticationSignOut
    .row
        .col-sm-12
            p.lead
                | Access to <code>SignOut</code> method of <code>System.Web.Security.FormsAuthentication</code>

            +analyzer-info('BH1012', 'FormsAuthenticationSignOutAnalyzer')


    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p A code fix will be presented. The access will be replaced with <code>AuthenticationHelper.SignOut()</code> expression.

            p Before:
            pre
                | using System.Web.Security;
                | ...
                | FormsAuthentication.SignOut();

            p After:
            pre
                | using System.Web.Security;
                | using CMS.Membership;
                | ...
                | AuthenticationHelper.SignOut();


