extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH1011 - PageIsPostBack
    .row
        .col-sm-12
            p.lead
                | Access to <code>IsPostBack</code> property of <code>System.Web.UI.Page</code>

            +analyzer-info('BH1011', 'PageIsPostBackAnalyzer')


    .row
        .col-sm-12
            h2 Motivation
            p TODO

    .row
        .col-sm-12
            h2 Code Fixes
            p TODO
