extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH1005 - HttpRequestUserHostAddress
    .row
        .col-sm-12
            p.lead
                | Access to <code>UserHostAddress</code> property of <code>System.Web.HttpRequest</code> or <code>System.Web.HttpRequestBase</code>

            +analyzer-info('BH1005', 'HttpRequestUserHostAddressAnalyzer')


    .row
        .col-sm-12
            h2 Motivation
            p TODO

    .row
        .col-sm-12
            h2 Code Fixes
            p TODO
