extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH1006 - HttpRequestUrl
    .row
        .col-sm-12
            p.lead
                | Access to <code>Url</code> property of <code>System.Web.HttpRequest</code> or <code>System.Web.HttpRequestBase</code>

            +analyzer-info('BH1006', 'HttpRequestUrlAnalyzer')


    .row
        .col-sm-12
            h2 Motivation
            p TODO

    .row
        .col-sm-12
            h2 Code Fixes
            p TODO
