extends page-layout
include mixins/analyzer-info
include mixins/conditional-access-code-fix-remark

block content

    h1.page-header BH1004 - HttpResponseCookies
    .row
        .col-sm-12
            p.lead
                | Access to <code>Cookies</code> property of <code>System.Web.HttpResponse</code> or <code>System.Web.HttpResponseBase</code>

            +analyzer-info('BH1004', 'HttpResponseCookiesAnalyzer')

    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p A code fix will be presented. The access will be replaced with <code>CookieHelper.ResponseCookies</code> expression.

            p Before:
            pre
                | var cookies = Response.Cookies;

            p After:
            pre
                | using CMS.Helpers;
                | ...
                | var cookies = CookieHelper.ResponseCookies;

            +conditional-access-code-fix-remark()

