extends page-layout
include mixins/analyzer-info
include mixins/conditional-access-code-fix-remark

block content

    h1.page-header BH1010 - PageIsCallback
    .row
        .col-sm-12
            p.lead
                | Access to <code>IsCallback</code> property of <code>System.Web.UI.Page</code>

            +analyzer-info('BH1010', 'PageIsCallbackAnalyzer')

    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p A code fix will be presented. The access will be replaced with <code>RequestHelper.IsCallback()</code> expression.

            p Before:
            pre
                | var isCallback = Request.IsCallback;

            p After:
            pre
                | using CMS.Helpers;
                | ...
                | var isCallback = RequestHelper.IsCallback();

            +conditional-access-code-fix-remark()


