extends page-layout
include mixins/analyzer-info
include mixins/conditional-access-code-fix-remark

block content

    h1.page-header BH1006 - HttpRequestUrl
    .row
        .col-sm-12
            p.lead
                | Access to <code>Url</code> property of <code>System.Web.HttpRequest</code> or <code>System.Web.HttpRequestBase</code>

            +analyzer-info('BH1006', 'HttpRequestUrlAnalyzer')


    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p A code fix will be presented. The invocation will be replaced with <code>RequestContext.URL</code> expression.

            p Before:
            pre
                | var url = Request.Url;

            p After:
            pre
                | using CMS.Helpers;
                | ...
                | var url = RequestContext.URL;

            +conditional-access-code-fix-remark()

