extends page-layout
include mixins/analyzer-info
include mixins/conditional-access-code-fix-remark

block content

    h1.page-header BH1001 - HttpSessionElementAccessGet
    .row
        .col-sm-12
            p.lead
                | Read element access to <code>Session</code> collection of <code>System.Web.SessionState.HttpSessionState</code> or <code>System.Web.HttpSessionStateBase</code>

            +analyzer-info('BH1001', 'HttpSessionElementAccessAnalyzer')

    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p A code fix will be presented. The element access will be replaced with <code>SessionHelper.GetValue()</code> method.

            p Before:
            pre
                | var session = System.Web.HttpContext.Current.Session;
                | var value = session["key"];

            p After:
            pre
                | using CMS.Helpers;
                | ...
                | var session = System.Web.HttpContext.Current.Session;
                | var value = SessionHelper.GetValue("key");

            +conditional-access-code-fix-remark()
