extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH1013 - ClientScriptMethods
    .row
        .col-sm-12
            p.lead
                | Access to one of <code>RegisterArrayDeclaration</code>, <code>RegisterClientScriptBlock</code>, <code>RegisterClientScriptInclude</code>, or <code>RegisterStartupScript</code> methods of <code>System.Web.UI.ClientScriptManager</code>

            +analyzer-info('BH1013', 'ClientScriptMethodsAnalyzer')


    .row
        .col-sm-12
            h2 Motivation
            p TODO

    .row
        .col-sm-12
            h2 Code Fixes
            p TODO
