extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH2000 - WhereLikeMethod
    .row
        .col-sm-12
            p.lead
                | Method <code>WhereLike</code> or <code>WhereNotLike</code> of <code>CMS.DataEngine.WhereConditionBase{TInfo}</code> is used

            +analyzer-info('BH2000', 'WhereLikeMethodAnalyzer')


    .row
        .col-sm-12
            h2 Motivation
            p TODO

    .row
        .col-sm-12
            h2 Code Fixes
            p TODO
