extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH2501 - ConnectionHelperExecuteQuery
    .row
        .col-sm-12
            p.lead
                | Method <code>CMS.DataEngine.ConnectionHelper.ExecuteQuery</code> is invoked from presentation layer (one of <code>.aspx.cs</code>, <code>.ascx.cs</code>, <code>.ashx.cs</code> or <code>.master.cs</code>)

            +analyzer-info('BH2501', 'ConnectionHelperExecuteQueryAnalyzer')(
                severity='Info',
                category='CmsApiGuidelines',
                package='BugHunter.Web.Analyzers')


            h3 Remarks
            p Diagnostic will only be raised in files that are considered a part of presentation layer. These include:
            ul
                li
                    | Pages (
                    code .aspx.cs
                    | )
                li
                    | User controls (
                    code .ascx.cs
                    | )
                li
                    | Handlers (
                    code .ashx.cs
                    | )
                li
                    | Master pages (
                    code .master.cs
                    | )

    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p This diagnostic has no automated code fix. One should not access the database from presentation layer. To fix the issue, access the database from code behind.
