extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH3502 - PageBase
    .row
        .col-sm-12
            p.lead
                | A non-abstract class inherits directly from <code>System.Web.UI.Page</code>

            +analyzer-info('BH3502', 'PageBaseAnalyzer')(
            category='CmsBaseClasses')

    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p A code fix will be presented.
