extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH3501 - UIWebPartBase
    .row
        .col-sm-12
            p.lead
                | A non-abstract class located in a UIWebPart folder does not inherit from one of required base classes

            +analyzer-info('BH3501', 'UIWebPartBase')(
            category='CmsBaseClasses')

    .row
        .col-sm-12
            h2 Motivation
            p TODO

    .row
        .col-sm-12
            h2 Code Fixes
            p TODO
