extends page-layout
include mixins/analyzer-info
include mixins/partial-class-remark

block content

    h1.page-header BH3502 - PageBase
    .row
        .col-sm-12
            p.lead
                | A non-abstract class inherits directly from <code>System.Web.UI.Page</code>

            +analyzer-info('BH3502', 'PageBaseAnalyzer')(
            category='CmsBaseClasses')

            h3 Remarks
            +partial-class-remark()

    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p Multiple code fixes will be presented, that replace the original base type with one of:
            ul
                li
                    code CMS.UIControls.AbstractCMSPage
                li
                    code CMS.UIControls.CMSUIPage

            p Before:
                pre
                    | using System.Web.UI;
                    |
                    | public class SomePage : Page
                    | {
                    |     // methods
                    | }


                p After:
                pre
                    | using System.Web.UI;
                    | using CMS.UIControls;
                    |
                    | public class SomePage : AbstractCMSPage
                    | {
                    |     // methods
                    | }
