extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH4002 - StringCompareToMethod
    .row
        .col-sm-12
            p.lead
                | The <code>String.CompareTo</code> method is invoked without specifying <code>System.StringComparison</code> nor <code>System.Globalization.CultureInfo</code> argument

            +analyzer-info('BH4002', 'StringCompareToMethodAnalyzer')(
            category='StringAndCulture')

    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p Multiple code fixes will be presented. Each code fix transforms the <code>CompareTo()</code> instance method invocation into static <code>string.Compare()</code> invocation with correct arguments, plus additional comparison type argument, which will be one of:
            ul
                li
                    code StringComparison.Ordinal
                li
                    code StringComparison.OrdinalIgnoreCase
                li
                    code StringComparison.CurrentCulture
                li
                    code StringComparison.CurrentCultureIgnoreCase
                li
                    code StringComparison.InvariantCulture
                li
                    code StringComparison.InvariantCultureIgnoreCase

            p Before:
            pre
                | var result = "BugHunter".CompareTo("bughunter");

            p After (only first code fix shown):
            pre
                | using System;
                | ...
                | var result1 = string.Compare("BugHunter", "bughunter", StringComparison.Ordinal);
