extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH4000 - StringManipulationMethods
    .row
        .col-sm-12
            p.lead
                | The <code>String.ToLower</code> or <code>String.ToUpper</code> method is invoked without specifying <code>System.Globalization.CultureInfo</code> argument

            +analyzer-info('BH4000', 'StringManipulationMethodsAnalyzer')(
            category='StringAndCulture')

    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p Multiple code fixes will be presented, that replace the original invocation with its <code>Invariant</code> version, or add <code>CultureInfo.CurrentCulture</code> argument.

            p Before:
            pre
                | var bugHunterLower = "BugHunter".ToLower();
                | var bugHunterUpper = "BugHunter".ToUpper();

            p After:
            pre
                | var bugHunterLower = "BugHunter".ToLowerInvariant();
                | var bugHunterUpper = "BugHunter".ToUpperInvariant();
                |
                | // or
                | using System.Globalization;
                | ...
                | var bugHunterLower = "BugHunter".ToLower(CultureInfo.CurrentCulture);
                | var bugHunterUpper = "BugHunter".ToUpper(CultureInfo.CurrentCulture);


