extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH4003 - StringStartsEndsWithMethods
    .row
        .col-sm-12
            p.lead
                | The <code>String.StartsWith</code> or <code>String.EndsWith</code> method is invoked without specifying <code>System.StringComparison</code> nor <code>System.Globalization.CultureInfo</code> argument

            +analyzer-info('BH4003', 'StringStartsEndsWithMethodsAnalyzer')(
            category='StringAndCulture')

    //.row
    //    .col-sm-12
    //        h2 Motivation
    //        p TBD

    .row
        .col-sm-12
            h2 Code Fixes
            p Multiple code fixes will be presented, that add a comparison type argument from one of these options:
            ul
                li
                    code StringComparison.Ordinal
                li
                    code StringComparison.OrdinalIgnoreCase
                li
                    code StringComparison.CurrentCulture
                li
                    code StringComparison.CurrentCultureIgnoreCase
                li
                    code StringComparison.InvariantCulture
                li
                    code StringComparison.InvariantCultureIgnoreCase

            p Before:
            pre
                | "BugHunter".StartsWith("Bug");
                | "BugHunter".EndsWith("Hunter");

            p After (only firs code fix shown):
            pre
                | using System;
                | ...
                | "BugHunter".StartsWith("Bug", StringComparison.Ordinal);
                | "BugHunter".EndsWith("Hunter", StringComparison.Ordinal);
