extends page-layout
include mixins/analyzer-info

block content

    h1.page-header BH4002 - StringCompareToMethod
    .row
        .col-sm-12
            p.lead
                | The <code>String.CompareTo</code> method is invoked without specifying <code>System.StringComparison</code> nor <code>System.Globalization.CultureInfo</code> argument

            +analyzer-info('BH4002', 'StringCompareToMethodAnalyzer')(
            category='StringAndCulture')

    .row
        .col-sm-12
            h2 Motivation
            p TODO

    .row
        .col-sm-12
            h2 Code Fixes
            p TODO
