extends html-layout
append styles
    // Custom styles for this template
    link(href='./css/dashboard.css', rel='stylesheet')

block body
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigationn
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='index.html') BugHunter
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='index.html') Home
                    li
                        a(href='http://github.com/Kentico/bug-hunter') Repo
                    li
                        a(href='http://github.com/Suzii') Contact
                //form.navbar-form.navbar-right
                //    input.form-control(type='text', placeholder='Search...')
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar
                    li
                        a(href='BH0000.html') BH0000

                ul.nav.nav-sidebar
                    li
                        a(href='BH1000.html') BH1000
                    li
                        a(href='BH1001.html') BH1001
                    li
                        a(href='BH1002.html') BH1002
                    li
                        a(href='BH1003.html') BH1003
                    li
                        a(href='BH1004.html') BH1004
                    li
                        a(href='BH1005.html') BH1005
                    li
                        a(href='BH1006.html') BH1006
                    li
                        a(href='BH1007.html') BH1007
                    li
                        a(href='BH1008.html') BH1008
                    li
                        a(href='BH1009.html') BH1009
                    li
                        a(href='BH1010.html') BH1010
                    li
                        a(href='BH1011.html') BH1011
                    li
                        a(href='BH1012.html') BH1012
                    li
                        a(href='BH1013.html') BH1013
                    li
                        a(href='BH1014.html') BH1014

                ul.nav.nav-sidebar
                    li
                        a(href='BH2000.html') BH2000
                    li
                        a(href='BH2001.html') BH2001
                    li
                        a(href='BH2500.html') BH2500
                    li
                        a(href='BH2501.html') BH2501

                ul.nav.nav-sidebar
                    li
                        a(href='BH3000.html') BH3000
                    li
                        a(href='BH3500.html') BH3500
                    li
                        a(href='BH3501.html') BH3501
                    li
                        a(href='BH3502.html') BH3502
                    li
                        a(href='BH3503.html') BH3503

                ul.nav.nav-sidebar
                    li
                        a(href='BH4000.html') BH4000
                    li
                        a(href='BH4001.html') BH4001
                    li
                        a(href='BH4002.html') BH4002
                    li
                        a(href='BH4003.html') BH4003
                    li
                        a(href='BH4004.html') BH4004
                    li
                        a(href='BH4005.html') BH4005

            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                block content
